body {
    margin: 0 auto;
  
    #app {
      font-family: Georgia, "Times New Roman", Times, serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
    }
  
    .wrapper {
      background-color: gray;
      .add_container {
        background-color: white;
        padding: 20px;
        input {
          width: 300px;
          height: 20px;
        }
        .add_btn {
          width: 70px;
          height: 26px;
        }
      }
      .todos_container {
        padding: 10px;
        ul {
          list-style-type: none;
          padding: 0px;
          li {
            font-size: 1.2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
  .active {
    text-decoration: line-through;
  }
  @media screen and(min-width: 768px) {
    .wrapper {
      background-color: orange;
    }
  }
  